# Auto-detect text files and perform LF normalization
* text=auto

# Visual Studio
*.sln     merge=union text eol=crlf

# C#
*.cs      diff=csharp text eol=lf
*.csproj  merge=union text eol=crlf

# VB.NET
*.vb      merge=union text eol=lf
*.vbproj  merge=union text eol=crlf

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain